.site-header {
    padding: 40px 0;
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-size: contain;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav{
        display: flex;
        align-items: center;
        gap: 40px;
        a{ 
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            line-height: 14.06px;
            letter-spacing: 1px;
            color: #333333;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            &:active{
                opacity: 0.5;
            }
        }
    }
}